@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --bg-dark: rgba(24, 24, 29, 1);
  --bg-light: rgba(247, 249, 251, 1);
  --blue-12: rgba(41, 126, 226, 0.12);
  --blue-16: rgba(65, 164, 223, 0.16);
  --collection-1-main-text: rgba(37, 37, 37, 1);
  --dark: rgba(13, 13, 18, 1);
  --dark-40: rgba(17, 17, 17, 0.4);
  --dark-80: rgba(17, 17, 17, 0.8);
  --dark-blue: rgba(35, 35, 40, 1);
  --deep-blue: rgba(41, 126, 226, 1);
  --desktop-base-text-font-family: "Inter-Regular", Helvetica;
  --desktop-base-text-font-size: 20px;
  --desktop-base-text-font-style: normal;
  --desktop-base-text-font-weight: 400;
  --desktop-base-text-letter-spacing: 0px;
  --desktop-base-text-line-height: 120.00000476837158%;
  --desktop-button-font-size: 20px;
  --desktop-button-font-style: normal;
  --desktop-button-font-weight: 500;
  --desktop-button-letter-spacing: 0px;
  --desktop-button-line-height: 120.00000476837158%;
  --desktop-description-font-size: 14px;
  --desktop-description-font-style: normal;
  --desktop-description-font-weight: 500;
  --desktop-description-letter-spacing: 0px;
  --desktop-description-line-height: 120.00000476837158%;
  --desktop-h1-header-font-size: 80px;
  --desktop-h1-header-font-style: normal;
  --desktop-h1-header-font-weight: 600;
  --desktop-h1-header-letter-spacing: -2.4px;
  --desktop-h1-header-line-height: 110.00000238418579%;
  --desktop-h2-header-font-size: 56px;
  --desktop-h2-header-font-style: normal;
  --desktop-h2-header-font-weight: 600;
  --desktop-h2-header-letter-spacing: -1.68px;
  --desktop-h2-header-line-height: 110.00000238418579%;
  --desktop-h3-header-font-size: 42px;
  --desktop-h3-header-font-style: normal;
  --desktop-h3-header-font-weight: 600;
  --desktop-h3-header-letter-spacing: -1.26px;
  --desktop-h3-header-line-height: 110.00000238418579%;
  --desktop-h4-header-font-size: 32px;
  --desktop-h4-header-font-style: normal;
  --desktop-h4-header-font-weight: 600;
  --desktop-h4-header-letter-spacing: -0.96px;
  --desktop-h4-header-line-height: 110.00000238418579%;
  --light-dark: rgba(26, 26, 26, 1);
  --mobile-base-text-font-size: 18px;
  --mobile-base-text-font-style: normal;
  --mobile-base-text-font-weight: 400;
  --mobile-base-text-letter-spacing: 0px;
  --mobile-base-text-line-height: 120.00000476837158%;
  --mobile-button-font-size: 18px;
  --mobile-button-font-style: normal;
  --mobile-button-font-weight: 500;
  --mobile-button-letter-spacing: 0px;
  --mobile-button-line-height: 120.00000476837158%;
  --mobile-description-font-size: 12px;
  --mobile-description-font-style: normal;
  --mobile-description-font-weight: 500;
  --mobile-description-letter-spacing: 0px;
  --mobile-description-line-height: 120.00000476837158%;
  --mobile-h1-header-font-size: 46px;
  --mobile-h1-header-font-style: normal;
  --mobile-h1-header-font-weight: 600;
  --mobile-h1-header-letter-spacing: -1.38px;
  --mobile-h1-header-line-height: 110.00000238418579%;
  --mobile-h2-header-font-size: 32px;
  --mobile-h2-header-font-style: normal;
  --mobile-h2-header-font-weight: 600;
  --mobile-h2-header-letter-spacing: -0.96px;
  --mobile-h2-header-line-height: 110.00000238418579%;
  --mobile-h3-header-font-size: 28px;
  --mobile-h3-header-font-style: normal;
  --mobile-h3-header-font-weight: 600;
  --mobile-h3-header-letter-spacing: -0.84px;
  --mobile-h3-header-line-height: 110.00000238418579%;
  --mobile-h4-header-font-size: 24px;
  --mobile-h4-header-font-style: normal;
  --mobile-h4-header-font-weight: 600;
  --mobile-h4-header-letter-spacing: -0.72px;
  --mobile-h4-header-line-height: 110.00000238418579%;
  --white: rgba(255, 255, 255, 1);
  --white-24: rgba(255, 255, 255, 0.24);
  --white-5: rgba(255, 255, 255, 0.05);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-80: rgba(255, 255, 255, 0.8);
  
  font-family: var(--desktop-base-text-font-family);
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}