@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --bg-dark: rgba(24, 24, 29, 1);
  --bg-light: rgba(247, 249, 251, 1);
  --blue-12: rgba(41, 126, 226, 0.12);
  --blue-16: rgba(65, 164, 223, 0.16);
  --collection-1-main-text: rgba(37, 37, 37, 1);
  --dark: rgba(13, 13, 18, 1);
  --dark-40: rgba(17, 17, 17, 0.4);
  --dark-80: rgba(17, 17, 17, 0.8);
  --dark-blue: rgba(35, 35, 40, 1);
  --deep-blue: rgba(41, 126, 226, 1);
  --desktop-base-text-font-family: "Inter-Regular", Helvetica;
  --desktop-base-text-font-size: 20px;
  --desktop-base-text-font-style: normal;
  --desktop-base-text-font-weight: 400;
  --desktop-base-text-letter-spacing: 0px;
  --desktop-base-text-line-height: 120.00000476837158%;
  --desktop-button-font-size: 20px;
  --desktop-button-font-style: normal;
  --desktop-button-font-weight: 500;
  --desktop-button-letter-spacing: 0px;
  --desktop-button-line-height: 120.00000476837158%;
  --desktop-description-font-size: 14px;
  --desktop-description-font-style: normal;
  --desktop-description-font-weight: 500;
  --desktop-description-letter-spacing: 0px;
  --desktop-description-line-height: 120.00000476837158%;
  --desktop-h1-header-font-size: 80px;
  --desktop-h1-header-font-style: normal;
  --desktop-h1-header-font-weight: 600;
  --desktop-h1-header-letter-spacing: -2.4px;
  --desktop-h1-header-line-height: 110.00000238418579%;
  --desktop-h2-header-font-size: 56px;
  --desktop-h2-header-font-style: normal;
  --desktop-h2-header-font-weight: 600;
  --desktop-h2-header-letter-spacing: -1.68px;
  --desktop-h2-header-line-height: 110.00000238418579%;
  --desktop-h3-header-font-size: 42px;
  --desktop-h3-header-font-style: normal;
  --desktop-h3-header-font-weight: 600;
  --desktop-h3-header-letter-spacing: -1.26px;
  --desktop-h3-header-line-height: 110.00000238418579%;
  --desktop-h4-header-font-size: 32px;
  --desktop-h4-header-font-style: normal;
  --desktop-h4-header-font-weight: 600;
  --desktop-h4-header-letter-spacing: -0.96px;
  --desktop-h4-header-line-height: 110.00000238418579%;
  --light-dark: rgba(26, 26, 26, 1);
  --mobile-base-text-font-size: 18px;
  --mobile-base-text-font-style: normal;
  --mobile-base-text-font-weight: 400;
  --mobile-base-text-letter-spacing: 0px;
  --mobile-base-text-line-height: 120.00000476837158%;
  --mobile-button-font-size: 18px;
  --mobile-button-font-style: normal;
  --mobile-button-font-weight: 500;
  --mobile-button-letter-spacing: 0px;
  --mobile-button-line-height: 120.00000476837158%;
  --mobile-description-font-size: 12px;
  --mobile-description-font-style: normal;
  --mobile-description-font-weight: 500;
  --mobile-description-letter-spacing: 0px;
  --mobile-description-line-height: 120.00000476837158%;
  --mobile-h1-header-font-size: 46px;
  --mobile-h1-header-font-style: normal;
  --mobile-h1-header-font-weight: 600;
  --mobile-h1-header-letter-spacing: -1.38px;
  --mobile-h1-header-line-height: 110.00000238418579%;
  --mobile-h2-header-font-size: 32px;
  --mobile-h2-header-font-style: normal;
  --mobile-h2-header-font-weight: 600;
  --mobile-h2-header-letter-spacing: -0.96px;
  --mobile-h2-header-line-height: 110.00000238418579%;
  --mobile-h3-header-font-size: 28px;
  --mobile-h3-header-font-style: normal;
  --mobile-h3-header-font-weight: 600;
  --mobile-h3-header-letter-spacing: -0.84px;
  --mobile-h3-header-line-height: 110.00000238418579%;
  --mobile-h4-header-font-size: 24px;
  --mobile-h4-header-font-style: normal;
  --mobile-h4-header-font-weight: 600;
  --mobile-h4-header-letter-spacing: -0.72px;
  --mobile-h4-header-line-height: 110.00000238418579%;
  --white: rgba(255, 255, 255, 1);
  --white-24: rgba(255, 255, 255, 0.24);
  --white-5: rgba(255, 255, 255, 0.05);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-80: rgba(255, 255, 255, 0.8);
  
  font-family: var(--desktop-base-text-font-family);
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.background-gradient {
  background: linear-gradient(240deg, rgba(41, 126, 226, 0.12) 3.57%, rgba(24, 97, 182, 0.12) 86.24%);
}

.background-gradient2 {
  background: linear-gradient(220deg, #010417 10.26%, #2B333F 84.25%), linear-gradient(46deg, #000 15.89%, #434343 171.16%);
  box-shadow: 0px 0px 8px 0px rgba(182, 186, 191, 0.04), 0px 2px 3px 0px rgba(0, 0, 0, 0.02); 
}


